##############################
## POSTGRESQL BACKUP CONFIG ##
##############################

# Location of S3 on AWS
S3_LOCATION=s3://bucket_name/

# Name of the database for making the backup
DATABASE_NAME=database_name

# Container name with the database
POSTGRES_CONTAINER_NAME=postgres_container_name

# Directory name with backups from S3
BACKUP_DIR=backup_database/backup_files/

#### SETTINGS FOR ROTATED BACKUPS ####

# Number of days to keep MONTHLY backups
EXPIRED_DAYS_MONTHLY=365

# Number of days to keep WEEKLY backups
EXPIRED_DAYS_WEEKLY=35

# Number of days to keep DAILY backups
EXPIRED_DAYS_DAILY=7

# Day of the week on which a weekely backup will be done - saturday
DAY_OF_WEEKLY_BACKUP=6

# Day of the month on which a monthly backup will be done
DAY_OF_MONTHLY_BACKUP=1

######################################


